html,
body {
    height: 100%;
}
.logout{
    border: none;
    background: transparent;
    display: block;
    padding: 3px 20px!important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    width: 100%;
    text-align: inherit;
}
.fast-sign-email{
    max-width: 400px;
    margin: 10px;
}
.fast-sign-phone{
    max-width: 550px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.dropdown-header{
    padding: 0!important;

}
.dropdown-header:hover{
    padding: 0!important;
    background: #ccc;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.pagin-list {
    list-style: none;
    display: flex;
}

.pagin-list > li > a {
    color: #fff;
    padding: 7px;
    text-decoration: none;
}

.active-page {
    background: rgb(0, 136, 204) !important;;
}

.pagin-list > li {
    margin: 3px;
    background: rgb(227, 227, 227);
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    /* border: 1px solid silver; */
}

.pagination-bar {
    padding: 0px 15px;
}

.pagination-content {
    background: #f2f2f2;
    /* border: 1px solid; */
    box-shadow: 0px 2px 4px silver;
    padding: 10px 20px;
    border-top: 1px solid gainsboro;
}


/*------------------14. blog-area start --------------------*/
.blog-wrap {
    background: #fff;
}

.blog-img {
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-img:before, .blog-img:after {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: #000;
    content: "";
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    opacity: .5;
}

.blog-img:before {
    left: 0;
}

.blog-wrap:hover .blog-img:before {
    width: 50%;
}

.blog-img:after {
    right: 0;
}

.blog-wrap:hover .blog-img:after {
    width: 50%;
}

.blog-meta {
    margin-bottom: 10px;
}

.blog-meta ul li a:hover {
    font-size: 12px !important;

}

.blog-meta ul li {
    display: inline-block;
    margin-right: 10px;
}

.blog-meta ul li a {
    color: #555;
}

.blog-meta ul li a:hover {
    color: #01387c;
}

.blog-meta ul li a i {
    margin-right: 3px;
}

.blog-content {
    position: relative;
}

.line-br {
    border-bottom: 2px solid #c3c3c3;
    margin-bottom: 10px;
}

.line-br:before, .line-br:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 10%;
    height: 2px;
    background: #01387c;
    content: "";
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    opacity: .7;
}

.blog-wrap:hover .blog-content:before, .blog-wrap:hover .blog-content:after {
    width: 50%;
}

.blog-content:after {
    left: auto;
    right: 0;
}

.blog-content h3 {
    margin-bottom: 15px;
}

.blog-content h3 a {
    font-size: 20px;
    text-transform: capitalize;
}

.blog-content p {
    line-height: 24px;
}

.blog-content a.btn-style {
    border: 1px solid #01387c;
    margin-bottom: 10px;
}

.left-menu {
    list-style: none;
}
.left-menu a{
    text-decoration: none;
    padding: 5px;
}
.left-menu a.active{
    color: red;
}

.home-img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.cover-img {
    height: 200px!important;
    width: 400px;
    object-fit: cover;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
/*------------------14. blog-area end --------------------*/